/* Created by MobileWorks  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/



/* -----------------------------------------
   Universal overrides
----------------------------------------- */


/* -----------------------------------------
   Typography
----------------------------------------- */

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: #D02525;
	text-shadow: 0 1px 1px #003D5A;
}
h1 .for {
	font-family: 'Crimson Text', serif;	
	color: #D02525;
	font-style: italic;
	text-shadow: 0 1px 1px #003D5A;
	font-weight: 600;
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: #043B5A;
}
h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: #0072A5;
}
h4 {
	font-family: 'Crimson Text', serif;	
	color: #043B5A;
	font-weight: bold;
	font-size: 20px;
}
p {
	font-family: 'Crimson Text', serif;	
	color: #043B5A;
	font-size: 16px;
	line-height: 1.5;
}

.italic {
	font-style: italic;
}

/* -----------------------------------------
   Navigation
----------------------------------------- */

menu {
	margin: 0;
}
#nav {
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
	font-weight: bold;
	margin: 25px 0 0 0;
}

#nav li {
	display: inline;
	margin-right: 30px;
}
#nav a {
color: #222;
font-size: 16px;
}

#nav li a:hover {
	color: #D02525;
}

#nav li:before {
    content: url('../images/star.png');
    font-size: 16px;
    line-height: 16px;
	margin: 0 8px 0 0;
}



/* -----------------------------------------
   Footer
----------------------------------------- */

#footercontainer {
	background-color: #222;
}
#footer {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	margin: 25px 0 0 0;
	color: white;
	text-align:center;
}
.footerlist li {
	text-decoration: none;
}



/* -----------------------------------------
   Buttons
----------------------------------------- */

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding: .9em 1.6em .6em;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-moz-box-shadow:    1px 1px 1px 0px rgba(34,34,34,0.75);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(34,34,34,0.75);
	box-shadow:         1px 1px 1px 0px rgba(34,34,34,0.75);
	
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
    color: #ffffff;
    background: #0072A5;
	border: solid 1px #4598bc;
}
.blue:hover {
    color: #ffffff;
    background: #0091D1;
}
.red {
    color: #ffffff;
    background: #BA2121;
}
.red:hover {
    color: #ffffff;
    background: #D02525;;
}
.bigbutton_container {
	margin-top: -40px;
	padding-bottom: 40px;
	text-align: center;
}
.bigbutton {
	font-size: 18px;
	text-align: center;
	line-height: 1.2;
}


/* -----------------------------------------
   Shapes
----------------------------------------- */


.circlenum {
	font-family: 'Crimson Text', serif;	
	font-weight: 200;
	font-size: 28px;
	font-weight: bold;
	color: white;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	background: #003D5A;
	text-align: center;
	padding-top: 6px;
}

/* -----------------------------------------
   Content Blocks and Containers
----------------------------------------- */

#header {
	text-align: center;
	background: #F4EFE0 url("../images/backgrounds/yellow-hex.png") repeat;
	padding: 20px 0 10px 0;
}
#value_prop {
	background: url("../images/backgrounds/blue-noise.png") repeat;
	padding: 30px 0 60px 0; /*bottom padding needs to be at least 40px to account for the big button */
}
#value_prop p{
	color: white;
	font-size: 18px;
	
}
#value_prop h2 {
	color: white;
}
.headline_pairing h2{
	margin-bottom:0;
}
.headline_pairing h3{
	margin-top:0;
}
.headling_pairing {
	margin: 10px 0 20px 0;
}

.projectlist {
	padding-bottom: 60px;
}

.hurry p {
	color: #336600;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}
.map {
	text-align: center;
}
.mapcaption {
	font-style: italic;
	text-align: center;
	line-height: 1.2;
	font-family: 'Crimson Text', serif;	
	color: #043B5A;
	font-size: 16px;
}
#howitworks {
	background: url("../images/backgrounds/red-noise.png") repeat;
	padding: 30px 0 80px 0; 
}
#howitworks h2 {
	color: #F4EFE0;
	text-shadow: 1px 1px 1px #003D5A;
	margin-bottom: 40px;
}
#howitworks p {
	color: #F4EFE0;
	line-height: 1.5;
	font-size: 18px;
}
.circlewrap {
	height:100px;
	position: relative;
	float: left;
	margin-right: 15px;
}
#faq {
	background: url("../images/backgrounds/waffle.png") repeat;
	padding: 30px 0 80px 0;
}
#faq h2 {
	color: #993300;
}
#faq h4 {
	color: #993300;
	margin-bottom: 0;
}
.faqset {
	margin: 30px 0;
}